<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel ="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel ="stylesheet" href="../css/bootstrap.min.css">
		<link rel ="stylesheet" href="../css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class= "barra"></div>
		<center><img src="../img/logoHiFit.png"></center>
    <h1><p align= center>Iniciar sesión</h1>
    <div class= "container">
			<center>
			<div class="login">
      <form action= "login.html" method="POST">
        <label>Email: </label>
        <input type="text" name="email"/><br><br>
        <label>Contraseña: </label>
        <input type="password" name"contraseña"/><br><br><br>
        <button type="button" class="btn btn btn-lg"><b>Entrar</b></button>
      </form>
			</div>
			<div class= "sincuenta"> ¿Aún no tienes tu cuenta?</div>
			<a href="../index.html" id="reg">¡Regístrate aquí!</a>
			</center>
    </div>
  </body>

</html>
